[Unit]
Description=TecArt HTTP Proxy Daemon
After=network-online.target,syslog.service
Requires=network-online.target,syslog.service

[Service]
User=proxy
Group=proxy
Restart=always
RestartSec=30
ExecStart=/home/bytebot/Bytebot/env/bin/python /home/bytebot/Bytebot/bytebot.py
MemoryLimit=128M

[Install]
WantedBy=multi-user.target
