import syslog

# Port the server will listen on
LISTEN_PORT = 8080

# List of IP addresses the server will listen on.
LISTEN_IP = ['127.0.0.1', '192.168.1.100']

# When a single element is set to '', the server will listen on all IPv4
# Interfaces
#LISTEN_IP = ['', '']

# DNS cache retention time in seconds
DNS_TTL = 3600

# Connection test timeout
DNS_TEST_TIMEOUT = 5

# Run DNS garbage collector every n seconds
DNS_GARBAGE_LOOP_TIME = 60

# Renew cache timeout for DNS every time a record is retrieved if True
RETAIN_CACHE = False

# Timeout for outbound requests in seconds
REQUEST_TIMEOUT = 5

# Anything other then syslog will redirect logging to stdout
LOG_TYPE = 'notsyslog'

# Log level to actually emit to syslog server. Only used when LOG_TYPE is 
# set to 'syslog'
LOG_FACILITY = syslog.LOG_DAEMON
